
.logo {
  width: 200px;
  float: left;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 6px;
  list-style-type: none;
  justify-content: flex-end;
}

nav a {
  display: block;
  list-style-type: none;
  padding: 12px 12px;
  text-decoration: none;
}

.title{
  display: flex;
  position: relative;
  justify-content: space-between
}

.title_main {
  font-size: 70px;
  color: #FF0BD8;
  line-height: 60px;
  position: absolute;
  top: 20%;
  left: 20%;

}

.title_text {
  font-size: 24px;
  color: #FF0BD8;
  position: absolute;
  top: 60%;
  left: 20%; 
}

.title2_text {
position: absolute;
top: 70%;
left: 20%;
font-size: 18px;
}

span{
  color: blue;
}

.firstview{
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.news{
  width: 70%;
  margin: 100px auto;
}

.news_tag{
  margin: 200px 0 40px 0;
  color: pink;
}

.news_title{
  font-size: 24px;
  margin: 10px 0 50px 0;
  
}

.sintyaku{
  font-size: 18px;
}

.news_item{
  margin: 30px 0;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  display: flex;
  width: 100%
}

.news_item:first-child{
  border-top: 2px solid black;
  padding-top: 2em;
}

.news_item:last-child{
  padding-bottom: 2em;
  border-bottom: 2px solid black;
}

.news_label {
  background-color: #FF0BD8;
  color: white;
  border-radius: 30px;
  padding: 2px 10px;
  margin: 0px 30px;
  display: flex;
}

.about_back{
  background: rgb(211, 210, 210);
  background-size: cover;
  width: 100%;
  padding: 50px 0;
}

.about{
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;

}

.about_tag{
  color: pink;
  margin: 0 auto;
  text-align: center;
}

.about_title{
  font-size: 24px;
  margin: 40px 0;
  text-align: center;
}

.about main{
  display: flex;
  position: relative;
}

.about_text{
  position: absolute;
  font-size: 18px;
  line-height:30px;
  margin: 0 auto 0 0;
}

.about_img{
  width: 40%;
  display: block;
  margin: 0 0 0 auto;
}

.service{
  width: 100%;
  padding: 70px 100px;
}

.service_tag{
  color: pink;
  margin: 70px 0 0 0;
}

.service_title{
  font-size: 24px;
  margin: 40px 0;
}

.service_glid{
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}

.serviceA{
  grid-row: 1/3;
  grid-column: 1/2;
  background: #ff0aac;
  text-align: center;
}

.serviceB{
  grid-row: 1/2;
  grid-column: 2/3;
  background: #eb67dd;
}

.serviceC{
  grid-row: 2/3;
  grid-column: 2/3;
  background: pink;
}

.imgA{
  display:block;
  margin: 20px auto 0 auto;
  width: 175px;
}

.jigyouA{
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;

}

.jigyou_textA{
  color: white;
  display: inline-block;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
}

.imgB{
  float: left;
  margin: 20px 0 30px 0px;
  width: 175px;
}

.naiyou{
  margin: 50px 0 0 170px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.jigyou{
  margin: 10px 150px;
  padding: 0 0 0 30px;
  color: white;
  font-size: 12px;
  line-height: 30px;
  width: 100%
}

.blog_back{
  background: rgb(211, 210, 210);
  width: 100%;
  padding: 30px 0;
}

.blog{
  width: 80%;
  margin: 0 auto;
}

.blog_tag{
  color: pink;
  margin: 0 0 0 0;
}

.blog_title{
  font-size: 24px;
  margin: 40px 0;
}

.blog_item {
  display: flex;
}

.blog_item> :nth-child(2n) {
  margin-left: 50px;
  margin-right: 50px;
}

.blog_itemA {
  width: 30%;
  position:relative;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  padding-bottom: 50px;
}
  
.blog_img {
  width: 100%
}

.blog_text{
  display: inline-block;
  font-size: 18px;
  margin: 20px 0;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.blog_header {
  padding: 10px 20px;
  background: #FF0BD8;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  position:absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 0 0;
}

.tag_parent{
  display: flex;
  justify-content: space-between;
}

.blog_day {
  display: inline-block;
}

.blog_coach {
  display: inline-block;
}

.botton{
  text-align: center;
  margin:80px 0;
}

.itiran_botton{
  font-size: 18px;
  color: #FF0BD8;
  border: solid;
  border-color: #FF0BD8;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 50px;
}

.company{
  width: 60%;
  margin: 0 auto;
}

.company_tag{
  color: pink;
  margin: 200px 0 0 0;
}

.gaiyou_title{
  font-size: 24px;
  margin: 40px 0;
}

.hyou{
  font-size: 18px;
}

.hyou_th{
  border: 1px solid black;
  text-align: left;
  padding: 20px 0 20px 30px;
  width: 400px;
  background: rgb(211, 210, 210);
}

.hyou_td{
  border: 1px solid black;
  width: 700px;
  padding: 0 0 0 30px;
}

.saiyou_interview{
  margin: 100px 0;
}

.saiyou_zentai {
  display: flex;
  justify-content: space-between

}

.recruit {
  width: 50%;
  position: relative;
}

.interview{
  width: 50%;
  position: relative;
}

.saiyou_text{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  font-size: 24px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.interview_text{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  font-size: 24px;
  text-align: center;
  transform: translate(-50%, -50%);
}


.recruit_png {
  width: 100%;
}

.interview_png{
  width: 100%;
}

.otoiawase_txt{
  text-align: center;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 100px;
  border: #ff0aac;
  position: relative;
}

.line_vertical{
  width: 2px;
  height: 30px;
  background-color: #ff0aac;
  margin: 20px auto;
}

.otoiawase_form{
  left:0;
  right: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.otoiawase_botton {
  color: white;
  background: linear-gradient(90deg,#eb67dd,rgb(56, 1, 44));
  box-shadow: 0px 5px rgba(0, 0, 0, .5);
  border-radius: 50px;
  padding: 20px 60px;
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
}

.otoiawase_icon{
  width: 25px;
  height: auto;
  margin-right: 15px;
  vertical-align: -10px;
}

.copy-right{
  text-align: center;
  margin-top: 70px;
  background: rgb(211, 210, 210);
  padding: 30px 0;
}
